<div class="conversion-panel">
    <div class="modal-title">
        <span>Let's convert</span>
    </div>
    <div class="form-container">
        <form class="form-horizontal">
        <div class="form-group">
            <label for="fromSystem" class='col-md-3'>From System: </label>
            <div class='col-md-9'>
            <select class="form-control" id="fromSystem{{id}}" {{action 'fromSystemSelected' on='change'}}>
                {{#each model.table.system_names as |name|}}
                <option>{{name}}</option>
                {{/each}}
            </select>
            </div>
        </div>
        <div class="form-group">
            <label for="fromGrade" class='col-sm-3'>Grade: </label>
            <div class='col-sm-9'>
            <select class="form-control" id="fromGrade{{id}}" {{action 'fromGradeSelected' on='change'}}>
                {{#each selectedFromGrades as |grade|}}
                    <option>{{grade}}</option>
                {{/each}}
            </select>
            </div>
        </div>
        <div class="form-group">
            <label for="toSystem" class='col-sm-3'>To System: </label>
            <div class='col-sm-9'>
            <select class="form-control" id="toSystem{{id}}" {{action 'toSystemSelected' on='change'}}>
                {{#each model.table.system_names as |name|}}
                <option>{{name}}</option>
                {{/each}}
            </select>
            </div>
        </div>
        <br/>
        <div class="form-group converted-result-block">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn btn-default" {{action 'convert'}}>
                    <span class="glyphicon glyphicon-play"></span> Convert
                </button>
            </div>
        </div>
        <div class="converted-result-block {{convertedResultMode}}">
            <div class="col-sm-3">
                Grade:
            </div>
            <div class="col-sm-9">
                {{convertedGrade}}
            </div>
        </div>
        </form>
    </div>
    <div id="conversion-result">{{conversionResult}}</div>
</div>
