{{log model._result.names}}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            {{#each model._result.names as |name|}}
            <th>{{name}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#each model._result.categories as |category|}}
            <td>{{category}}</td>
            {{/each}}
        </tr>
        {{#each model._result.grades as |grade|}}
        <tr>
            {{#each grade as |grade_per_system|}}
            <td>{{grade_per_system}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
{{outlet}}
