<div id="converter-button" class="converter">
    <button {{action 'openModalConverter'}} type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-modal-window"></span> Converter
    </button>
</div>
<table id="conversion-table" class="table table-striped table-bordered">
    <thead>
        <tr>
            {{#each model.filteredNames as |name|}}
            <th>{{name}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#each model.filteredCategories as |category|}}
            <td>{{category}}</td>
            {{/each}}
        </tr>
        {{#each model.filteredGrades as |grade|}}
        <tr>
            {{#each grade as |gradePerSystem|}}
            <td>{{gradePerSystem}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
<div id="converter-modal" class={{converterDisplayMode}}>
  <div class="modal-content">
    <span class="close" aria-label="Close" {{action 'closeModalConverter'}}>
        &times;
    </span>
    <br/><br/>
    {{conversion-panel model=model}}
  </div>
</div>
{{outlet}}
