<div id="converter-button" class="converter">
    <button {{action 'openModalConverter'}} type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-modal-window"></span> Converter
    </button>
</div>
<table id="conversion-table" class="table table-striped table-bordered">
    <thead>
        <tr>
            {{#each model.filteredNames as |name|}}
            <th>{{name}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#each model.filteredCategories as |category|}}
            <td>{{category}}</td>
            {{/each}}
        </tr>
        {{#each model.filteredGrades as |grade|}}
        <tr>
            {{#each grade as |gradePerSystem|}}
            <td>{{gradePerSystem}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
<div class={{converterDisplayMode}}>
    <div class="modal-content">
        <span class="close" aria-label="Close" {{action 'closeModalConverter'}}>
            &times;
        </span>
        <br /><br />
        {{conversion-panel model=model id="1"}}
    </div>
</div>
<div id="conversion-panel-block">
    {{conversion-panel model=model id="2"}}
</div>
<div class="store-links" style="align-content:center; text-align:center">
    <a href="https://itunes.apple.com/us/app/rock-climbing-grade-converter/id1250294132?mt=8"><img
            src="../assets/images/App_Store_Badge_US-UK_135x40.svg" /></a>
    <a
        href='https://play.google.com/store/apps/details?id=com.responsivebytes.gradeconverter&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
            alt='Get it on Google Play'
            src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width='160' /></a>
</div>
{{outlet}}