<div id="converter-button" class="converter">
    <button {{action 'openModalConverter'}} type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-modal-window"></span> Converter
    </button>
</div>
<table id="conversion-table" class="table table-striped table-bordered">
    <thead>
        <tr>
            {{#each model.filteredNames as |name|}}
            <th>{{name}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#each model.filteredCategories as |category|}}
            <td>{{category}}</td>
            {{/each}}
        </tr>
        {{#each model.filteredGrades as |grade|}}
        <tr>
            {{#each grade as |gradePerSystem|}}
            <td>{{gradePerSystem}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
<div id="converter-modal" class={{converterDisplayMode}}>
  <div class="modal-content">
    <span class="close" aria-label="Close" {{action 'closeModalConverter'}}>
        &times;
    </span>
    <br/><br/>
    <div class="modal-title">
        <span>Let's convert</span>
    </div>
    <div>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="fromSystem" class='col-sm-3'>From System: </label>
          <div class='col-sm-9'>
          <select class="form-control" id="fromSystem" {{action 'fromSystemSelected' on='change'}}>
              {{#each model.table.system_names as |name|}}
                <option>{{name}}</option>
              {{/each}}
          </select>
          </div>
        </div>
        <div class="form-group">
          <label for="fromGrade" class='col-sm-3'>Grade: </label>
          <div class='col-sm-9'>
            <select class="form-control" id="fromGrade" {{action 'fromGradeSelected' on='change'}}>
                {{#each selectedFromGrades as |grade|}}
                    <option>{{grade}}</option>
                {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="toSystem" class='col-sm-3'>To System: </label>
          <div class='col-sm-9'>
            <select class="form-control" id="toSystem" {{action 'toSystemSelected' on='change'}}>
              {{#each model.table.system_names as |name|}}
                <option>{{name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn btn-default" {{action 'convert'}}>
                    <span class="glyphicon glyphicon-play"></span> Convert
                </button>
            </div>
        </div>
         <div class={{convertedResultMode}}>
            <div class="col-sm-3">
                Grade:
            </div>
            <div class="col-sm-9">
                {{convertedGrade}}
            </div>
        </div>
      </form>
    </div>
    <div id="conversion-result">{{conversionResult}}</div>
  </div>
</div>
{{outlet}}
